{% extends "base.html" %}
{% block content %}

<!-- Treatment start variable is startTreatment -->
<div class="page-wrapper">
  <div class="main-row">

    <div class="game-col">
      <div class="game-board">
        <div class="box" data-index="0"></div>
        <div class="box" data-index="1"></div>
        <div class="box" data-index="2"></div>
        <div class="box" data-index="3"></div>
        <div class="box" data-index="4"></div>
        <div class="box" data-index="5"></div>
        <div class="box" data-index="6"></div>
        <div class="box" data-index="7"></div>
        <div class="box" data-index="8"></div>
      </div>
      <div class="row">
        <span class="turn-indicator">X's turn</span>
      </div>
    </div>

    <div class="chat-col">
      <div class="chat-container">
        <div class="chat-header bg-primary text-white p-2">
          <h5 class="mb-0 d-flex justify-content-center">AI Chatbot</h5>
        </div>
        <div class="chat-messages">
          <!-- Messages go here -->
        </div>
        <div class="chat-input p-2 border-top">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Ask the AI..." id="userInput">
            <button class="btn btn-primary" id="sendBtn">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}