{% extends "base.html" %}
{% block content %}
<div class="d-flex h-100 flex-column justify-content-center align-items-center">
    <H1>Welcome to Tic Tac Toe</H1>
    <p>Please open this <a href="https://wright.ca1.qualtrics.com/jfe/form/SV_d9Y7FRdrAdwBCu2" target="_blank">questionnaire</a> <b>before</b> starting the game</p>
    <p>Answer the first question with:<b>{% if startTreatment == 0 %} AB {% else %} BA {% endif %}</b></p>
    <a class="btn btn-primary mt-3" href="/game">Play Game</a>
</div>
{% endblock %}